@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/breakpoints" as *;

.media-list {
  display: flex;
  flex-direction: column;
  padding: $padding * 2;
  font-family: "Avenir";

  @include medium {
    width: 45%;
    padding: $padding $padding * 3 $padding * 3;
  }

  @include large {
    width: 34%;
    padding: $padding * 4 0 0 $padding * 3;
  }

  &__label {
    @include label;
    margin: $padding 0;
  }

  &__container {
    padding-top: $padding;
  }
}

.media {
  width: 100%;
  height: 6.25rem;
  display: flex;
  align-items: center;
  font-family: "Avenir";

  &__left {
    margin-right: $padding * 2;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__img {
    min-width: 100%;
    min-height: 100%;

    &-container {
      width: 7.5rem;
      height: 4.375rem;
      border-radius: 0.25rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    @include subheader-mobile;
    padding-bottom: $padding;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-block-end: 0;

    @include medium {
      @include list-desktop;
      font-weight: 600;
      padding-bottom: 0;
    }
    @include large {
      @include list-desktop;
      font-weight: 600;
      padding-bottom: 0;
    }
  }
  &__channel {
    @include paragraph-mobile;

    @include medium {
      @include list-desktop;
    }
  }
}
