@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";
@use "../../partials/typography" as *;
@use "../../partials/breakpoints" as *;

.selected-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Avenir";

  @include large {
    width: 66%;
    border-right: $divider;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    @include medium {
      padding: 0 2rem;
    }

    @include large {
      padding: 0 1rem;
    }
    &__div {
      height: 4rem;
      &__title {
        @include header-mobile;
        margin: $padding * 2 0;
        border-bottom: $divider;

        @include medium {
          @include h1-header-desktop;
          margin: $padding * 3 0;
          border-bottom: none;
        }
      }
    }
  }

  &__subtitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $divider;
    padding-top: 1rem;
    margin-block-start: 0px;
    margin-block-end: 0;

    @include medium {
      flex-direction: row;
      justify-content: space-between;
      border-top: none;
    }
  }

  &__top {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    @include medium {
      padding-bottom: 0;
      flex-direction: row;
    }
  }

  &__channel {
    @include subheader-mobile;
    margin-right: $padding;

    @include medium {
      @include subheader-desktop;
    }
  }

  &__timestamp {
    @include paragraph-mobile;
    color: colors.$secondary-silver;

    @include medium {
      @include paragraph-desktop;
      padding-left: 1rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    @include medium {
      padding-bottom: 0;
      flex-direction: row;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    padding-right: 1rem;

    @include large {
      margin-right: $padding * 5;
    }
  }

  &__icon {
    margin-right: $padding;
  }

  &__number {
    @include paragraph-mobile;

    @include medium {
      @include paragraph-desktop;
    }
  }

  &__description {
    &__div {
      @include medium {
        padding-right: 1rem;
      }
      &__text {
        @include paragraph-mobile;
        width: 100%;

        @include medium {
          @include paragraph-desktop;
        }
      }
    }
  }

  &__comments {
    width: 100%;
  }
}
