@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";
@use "../../partials/typography" as *;

.selected-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Avenir";

  @media (min-width: 1280px) {
    width: 66%;
    border-right: $divider;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: $padding * 2;

    @media (min-width: 768px) {
      padding: $padding * 3;
    }

    @media (min-width: 1280px) {
      padding: $padding * 2 0 $padding * 3 0;
    }
    &__div {
      height: 4rem;
      &__title {
        @include header-mobile;
        margin: $padding * 2 0;

        @media (min-width: 768px) {
          @include h1-header-desktop;
          margin: $padding * 3 0;
        }
      }
    }
  }

  &__subtitles {
    display: flex;
    //flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $divider;
    border-top: $divider;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      border-top: none;
    }
  }

  &__top {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    @media (min-width: 768px) {
      padding-bottom: 0;
      flex-direction: row;
    }
  }

  &__channel {
    @include subheader-mobile;
    margin-right: $padding;

    @media (min-width: 768px) {
      @include subheader-desktop;
    }
  }

  &__timestamp {
    @include paragraph-mobile;
    color: colors.$secondary-silver;

    @media (min-width: 768px) {
      @include paragraph-desktop;
      padding-left: 1rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      padding-bottom: 0;
      flex-direction: row;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    margin-right: $padding * 3;

    @media (min-width: 1280px) {
      margin-right: $padding * 5;
    }
  }

  &__icon {
    margin-right: $padding;
  }

  &__number {
    @include paragraph-mobile;

    @media (min-width: 768px) {
      @include paragraph-desktop;
    }
  }

  &__description {
    &__div {
      @media (min-width: 768px) {
        padding-right: 1rem;
      }
      &__text {
        @include paragraph-mobile;
        width: 100%;

        @media (min-width: 768px) {
          @include paragraph-desktop;
        }
      }
    }
  }

  &__comments {
    width: 100%;
  }
}
