@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";
@use "../../partials/breakpoints" as *;
@use "../../partials/typography" as *;

.hero {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avenir";

  &__video {
    aspect-ratio: 16/9;
    max-width: 100%;
    height: auto;
    max-height: 230px;

    @include medium {
      max-width: 700px;
      max-height: 400px;
    }

    @include large {
      max-width: 944px;
      max-height: 540px;
    }

    &-source {
      max-height: 183px;
    }
  }
}
