@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";
@use "../../partials/breakpoints" as *;
@use "../../partials/typography" as *;

.hero {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avenir";

  &__video {
    aspect-ratio: 16/9;
    max-width: 100%;
    height: auto;
    max-height: 14.375rem;

    @include medium {
      max-width: 43.75rem;
      max-height: 25rem;
    }

    @include large {
      max-width: 59rem;
      max-height: 33.75rem;
    }

    &-source {
      max-height: 11.4375rem;
    }
  }
}
