@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors" as *;
@use "../../partials/typography" as *;
@use "../../partials/breakpoints" as *;

.upload-video {
  //width: 100%;
  padding: $padding * 3 $padding * 2;
  display: flex;
  flex-direction: column;
  font-family: "Avenir";

  @include medium {
    padding: $padding * 6 $padding * 3;
  }

  @include large {
    width: 67.5rem;
    padding: 2rem 8rem;
  }

  &__title {
    @include header-mobile;
    padding-bottom: $padding * 4;
    margin-block-start: 0;
    margin-block-end: 0;

    @include medium {
      @include h1-header-desktop;

      border-bottom: $divider;
      border-bottom: 0.0625rem solid #e1e1e1;
    }
    @include large {
      padding: 1rem 0rem;
      margin-block-start: 0;
      margin-block-end: 0;
      border-bottom: 0.0625rem solid #e1e1e1;
    }
  }
}

.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include medium {
      padding: $padding * 5 0;
      border-bottom: $divider;
    }

    @include large {
      flex-direction: row;
      border-bottom: $divider;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include medium {
      padding-top: $padding * 5;
      flex-direction: row;
      justify-content: flex-end;
    }
    @include large {
      padding-top: 2.5rem;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__thumbnail {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $padding * 4;

    @include medium {
      margin-bottom: $padding * 5;
    }

    @include large {
      width: 21.5rem;
      margin-bottom: 0;
      margin-right: $padding * 3;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $padding * 4;

    @include medium {
      margin-bottom: 0;
    }
  }

  &__label {
    @include label;
    padding: 0.5rem 0;
    font-weight: 400;
  }

  &__input-img {
    min-width: 100%;
    min-height: 100%;

    &-container {
      width: 100%;
      height: auto;
      border-radius: 0.25rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      @include medium {
        width: 21.5rem;
      }
    }
  }

  &__input-txt {
    @include form-input;
    height: 1rem;
    padding: 1rem;
    &-error {
      border: 0.125rem solid #d22d2d;
    }

    &::placeholder {
      color: $primary-black;
    }

    &:focus {
      outline: none;
      border: 0.125rem solid $primary-blue;
    }
  }

  &__textarea {
    @include form-input;
    height: 5rem;
    padding: 1rem;
    &-error {
      border: 0.125rem solid #d22d2d;
    }

    @include large {
      height: 4.5rem;
    }

    &::placeholder {
      color: $primary-black;
    }

    &:focus {
      outline: none;
      border: 0.125rem solid $primary-blue;
    }
  }

  &__publish-btn {
    @include button-mobile;
    margin-bottom: $padding * 3;
    cursor: pointer;
    font-weight: 400;

    @include medium {
      @include button-desktop;
      order: 2;
      margin-bottom: 0;
      justify-content: flex-start;
      padding: 0;
    }
    @include large {
      width: 10rem;
      order: 2;
      margin-bottom: 0;
      justify-content: flex-start;
      padding: 0;
    }

    &:hover {
      @include button-hover;
    }
  }

  &__cancel-link {
    @include text-link;
    background-color: inherit;
    border: none;
    font-family: "Avenir";
    @include medium {
      margin-right: $padding * 6;
    }
    @include large {
      margin-right: $padding * 6;
    }
  }
}
.for__btn__div__cta__icon {
  padding-left: 0.5rem;
  padding-right: 1rem;

  &__text {
    // padding: 0.5rem;
    @include large {
      padding-left: 0.5rem;
      padding-right: 1rem;
    }
  }
}
