@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors" as *;
@use "../../partials/typography" as *;
@use "../../partials/breakpoints" as *;

.upload-video {
  //width: 100%;
  padding: $padding * 3 $padding * 2;
  display: flex;
  flex-direction: column;
  font-family: "Avenir";

  @media (min-width: 768px) {
    padding: $padding * 6 $padding * 3;
  }

  @media (min-width: 1280px) {
    width: 1080px;
    padding: 2rem 8rem;
  }

  &__title {
    @include header-mobile;
    padding-bottom: $padding * 4;
    margin-block-start: 0;
    margin-block-end: 0;

    @media (min-width: 768px) {
      @include h1-header-desktop;

      border-bottom: $divider;
      border-bottom: 0.0625rem solid #e1e1e1;
    }
    @include large {
      padding: 1rem 0rem;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      padding: $padding * 5 0;
      border-bottom: $divider;
    }

    @media (min-width: 1280px) {
      flex-direction: row;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      padding-top: $padding * 5;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__thumbnail {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $padding * 4;

    @media (min-width: 768px) {
      margin-bottom: $padding * 5;
    }

    @media (min-width: 1280px) {
      width: 344px;
      margin-bottom: 0;
      margin-right: $padding * 3;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $padding * 4;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__label {
    @include label;
    margin-bottom: $padding/2;
  }

  &__input-img {
    min-width: 100%;
    min-height: 100%;

    &-container {
      width: 100%;
      height: auto;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        width: 344px;
      }
    }
  }

  &__input-txt {
    @include form-input;
    height: 1rem;
    padding: 1rem;

    &::placeholder {
      color: $primary-black;
    }

    &:focus {
      outline: none;
      border: 2px solid $primary-blue;
    }
  }

  &__textarea {
    @include form-input;
    height: 5rem;
    padding: 1rem;

    @media (min-width: 1280px) {
      height: 4.5rem;
    }

    &::placeholder {
      color: $primary-black;
    }

    &:focus {
      outline: none;
      border: 2px solid $primary-blue;
    }
  }

  &__publish-btn {
    @include button-mobile;
    margin-bottom: $padding * 3;
    cursor: pointer;

    @media (min-width: 768px) {
      @include button-desktop;
      order: 2;
      margin-bottom: 0;
      justify-content: flex-start;
      padding: 0;
    }

    &:hover {
      @include button-hover;
    }
  }

  &__cancel-link {
    @include text-link;
    background-color: inherit;
    border: none;
    font-family: "Avenir";
    @media (min-width: 768px) {
      margin-right: $padding * 6;
    }
  }
}
.form__btn__div__cta__icon__text {
  padding: 0.5rem;
}
