@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/breakpoints" as *;
@use "../../partials/typography" as *;
.upload {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-family: "Avenir";
  width: auto;
  @include medium {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 9.375rem;
    padding-bottom: 0;
  }
  @include large {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 9.375rem;
    padding-bottom: 0;
  }
}
.upload-btn {
  @include button-mobile;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-family: "Avenir";

  @include medium {
    height: 2.75rem;
    width: 9.375rem;
  }

  &:hover {
    @include button-hover;
  }

  &__icon {
    padding-left: 0.5rem;
    padding-right: 1rem;

    &__text {
      margin: auto;
      @include medium {
        margin: 0;
      }
      @include large {
        margin: 0;
      }
    }
  }
}
