@use "../../partials/breakpoints" as *;
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir";

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include large {
      width: 67.5rem;
      flex-direction: row;
    }
  }
}
span {
  color: #0095ff;
  padding: 25rem;
}
