@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";
@use "../../partials/typography" as *;
@use "../../partials/breakpoints" as *;

/* =============== Comment Item =============== */
.comment {
  border-bottom: $divider;
  display: flex;
  justify-content: space-between;
  font-family: "Avenir";

  padding: 1rem 2rem;

  @include medium {
  }

  &__left {
    display: flex;
    padding-top: 1rem;

    @include medium {
    }
  }

  &__right {
    padding: 0 1rem;
    @include medium {
    }
    &__main {
      display: flex;
      justify-content: space-between;

      &__name {
        @include paragraph-mobile;
        font-weight: 600;
        display: flex;

        @include medium {
          @include list-desktop;
          font-weight: 600;
        }
      }
      &__timestamp {
        @include paragraph-mobile;
        color: colors.$secondary-silver;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        @include medium {
          @include list-desktop;
        }
      }
    }

    @include medium {
      width: 91%;
    }
  }

  &__text {
    @include paragraph-mobile;
    display: flex;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    @include medium {
      @include paragraph-desktop;
    }
  }
}
