@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";

/* =============== Comment Item =============== */
.comment {
  border-bottom: $divider;
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;

  @media (min-width: 768px) {
  }

  &__left {
    display: flex;
    padding-top: 1rem;

    @media (min-width: 768px) {
    }
  }

  &__right {
    padding: 0 1rem;
    @media (min-width: 768px) {
    }
    &__main {
      display: flex;
      justify-content: space-between;

      &__name {
        @include paragraph-mobile;
        font-weight: 600;
        display: flex;

        @media (min-width: 768px) {
          @include list-desktop;
          font-weight: 600;
        }
      }
      &__timestamp {
        @include paragraph-mobile;
        color: colors.$secondary-silver;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        @media (min-width: 768px) {
          @include list-desktop;
        }
      }
    }

    @media (min-width: 768px) {
      width: 91%;
    }
  }

  &__text {
    @include paragraph-mobile;
    display: flex;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    @media (min-width: 768px) {
      @include paragraph-desktop;
    }
  }
}
