/* ==================== Primary Colors ==================== */
$primary-blue: #0095ff; // Blue
$primary-black: #323232; // Black
$primary-white: #ffffff; // White rgb(255,255,255)

/* ==================== Secondary Colors ==================== */
$secondary-blue: #0065ad; // Dark blue
$secondary-silver: #afafaf; // Silver
$secondary-mercury: #e1e1e1; // Mercury
$secondary-alabaster: #fafafa; // Alabaster rgb(250,250,250)
