// Color variables
$black: #323232;
$darkblack: #000000;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: white;
$alabaster: #fafafa;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;

// Breakpoint variables

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Created variables for certain spacing sizes that had to be experimented with a lot, or may be a target for changes in the future

$nonmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;

// Increments of 16px

$sixteen: 16px;
