@use "./typography" as *;

$black: #323232;
$darkblack: #000000;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: white;
$alabaster: #fafafa;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;

// Breakpoint variables

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Created variables for certain spacing sizes that had to be experimented with a lot, or may be a target for changes in the future

$nonmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;

// Increments of 16px

$sixteen: 16px;

@mixin font-properties($text-size, $line-height) {
  font-size: $text-size;
  line-height: $line-height;
}

// mixins for medi queries

@mixin mobile-side-padding {
  padding: 0 16px;
}

@mixin tablet-side-padding {
  padding: 0 36px;
}

// setting logo  styles.

@mixin logo-styling {
  max-height: 20px;
  max-width: 120px;
  text-decoration: none;
  color: $white;
}

// mixins for avatars

@mixin avatarMobile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
// mixins for media queries

@mixin tablet {
  @media only screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// font face mixins

@mixin font-family-normal {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
}

@mixin font-family-bold {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
}

@mixin font-family-bolder {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
}

// Desktop and Tablet Font Mixins
@mixin large-hero-header {
  @include font-properties(60px, 68px);
  font-family: "Avenir";
}

@mixin large-h1-header {
  @include font-properties(36px, 44px);
  font-family: "Avenir";
}

@mixin large-h2-header {
  @include font-properties(24px, 32px);
  font-family: "Avenir";
}

@mixin large-h3-subheader {
  @include font-properties(16px, 24px);
  font-family: "Avenir";
}

@mixin large-paragraphs-comments {
  @include font-properties(14px, 22px);
  font-family: "Avenir";
}

@mixin large-lists-contacts {
  @include font-properties(14px, 20px);
  font-family: "Avenir";
}

@mixin large-h5-labels {
  @include font-properties(12px, 20px);
  font-family: "Avenir";
}

//

@mixin mobile-h1-header {
  @include font-properties(24px, 32px);
  font-family: "Avenir";
}
@mixin mobile-h3-subheader {
  @include font-properties(14px, 22px);
  font-family: "Avenir";
}
@mixin mobile-paragraphs-comments {
  @include font-properties(13px, 18px);
  font-family: "Avenir";
}
@mixin mobile-lists-contacts {
  @include font-properties(13px, 20px);
  font-family: "Avenir";
}

@mixin mobile-h5-labels {
  @include font-properties(12px, 20px);
  font-family: "Avenir";
}
