@use "./typography" as *;
@use "./colors";

/* ==================== Main Font Family ==================== */
$font-family: "Avenir", "Roboto", "sans-serif";

/* ==================== Main Font Color ==================== */
$font-color: colors.$primary-black;

/* ==================== Padding ==================== */
$padding: 0.5rem;

/* ==================== Divider ==================== */
$divider: 0.0625rem solid colors.$secondary-mercury;
