@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";

/* =============== Comments =============== */
.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding * 2;

  @media (min-width: 768px) {
    padding: $padding * 3;
  }

  @media (min-width: 1280px) {
    padding: $padding * 3 0;
  }

  // @media (min-width: 1280px) {
  //     width: 60%;
  // }

  &__count {
    @include subheader-mobile;
    align-self: flex-start;
    margin: $padding 0;

    @media (min-width: 768px) {
      @include subheader-desktop;
    }
  }

  // Comment Form Container Style
  &__form {
    border-bottom: $divider;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $padding * 3 0;
  }

  // Comment Container Style
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
