@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/colors";
@use "../../partials/typography" as *;
@use "../../partials/breakpoints" as *;

/* =============== Comments =============== */
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir";

  @include medium {
  }

  @include large {
  }

  &__count {
    @include subheader-mobile;
    align-self: flex-start;
    margin: 1rem 1rem;

    @include medium {
      @include subheader-desktop;
      margin: 0 2rem;
    }
    @include large {
      @include subheader-desktop;
      margin: 0 1rem;
    }
  }

  // Comment Form Container Style
  &__form {
    border-bottom: $divider;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $padding * 3 0;
  }

  // Comment Container Style
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
