@use "../../partials/colors" as *;

/* =============== Avatar =============== */
.avatar {
  min-height: 100%;
  width: auto;

  &-container {
    width: 48px; // 48px for Mobile, Desktop & Tablet
    height: 48px; // 48px for Mobile, Desktop & Tablet
    border-radius: 50%;
    overflow: hidden;
    background: $secondary-mercury;
    display: flex;
  }
}
