@use "../../partials/colors" as *;
@use "../../partials/breakpoints" as *; /* =============== Avatar =============== */
.avatar {
  &-container {
    display: flex;
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    overflow: hidden;
    background: $secondary-mercury;
    display: none;
    @include medium {
      display: flex;
    }
    @include large {
      display: flex;
    }
  }
  &-mobile {
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    overflow: hidden;
    background: $secondary-mercury;
    display: flex;
    @include medium {
      display: none;
    }
    @include large {
      display: none;
    }
  }
}
